:root {
  --bg_light-grey: #f8f9fa;
  --bg_dark-blue: #051e34;
  --bg_blue: #11283e;
  --bg_light-blue: #1b72e8;
}

/* DEBUG */
header {
  height: 70px;
  background-color: var(--bg_light-grey);
}


main {
  padding-top: 70px;
}

main section.sidebar {
  width: 68px;
}

/* HEADER */

/* navbar */
header nav.nav-cst {
  background-color: white !important;
}

header nav.nav-cst img.logo-small {
  width: 40px;
}

header nav.nav-cst ul li i {
  color: #5b5858;
}

header nav.nav-cst ul li.dropdown i {
  color:#ff8f00;
}

header nav.nav-cst ul li.dropdown ul.dropdown-menu {
  right: 0;
}

.input-search-cst {
  background-color: #e5e5e5;
}

form .glass-search {
  left: 4px;
}
/* end navbar */

/* end HEADER */

/* MAIN */
/* sidebar */
main section.sidebar {
  background-color: var(--bg_dark-blue);
  background-image: url(../img/sidebar-bg.png);
}

main section.content {
  width: calc(100% - 68px);
  background-color: var(--bg_light-grey);
}
/* end sidebar */

/* top-bar-content */
.top-bar div span.badge_bg_cst {
  background-color: #165bba;
}

/* end top-bar-content */



/* table */
main table img {
  width: 1rem;
}

main table button i {
  font-size: 0.8rem;
}

main th.th-cst {
  width: 100px;
}

.fs_cst_8 {
  font-size: 0.8rem;
}

.fs_cst_9 {
  font-size: 0.9rem;
}

.fs_cst_6 {
  font-size: 0.6rem;
}
/* end table */






/* end MAIN */





/* MEDIA QUERY */
@media screen and (min-width: 768px) {
  main section.sidebar {
    width: 150px;
  }

  main section.content {
    width: calc(100% - 150px);
  }
  
  
  
}