:root {
  --bg_light-grey: #f8f9fa;
  --bg_dark-blue: #051e34;
  --bg_blue: #11283e;
  --bg_light-blue: #1b72e8;
}

/* DEBUG */
main .content .top-bar {
  height: 100px;
}





header {
  height: 70px;
  background-color: var(--bg_light-grey);
}

/* navbar */
header nav.nav-cst {
  background-color: white !important;
}

header nav.nav-cst img.logo-small {
  width: 40px;
}


header nav.nav-cst ul li i {
  color: #5b5858;
}


header nav.nav-cst ul li.dropdown i {
  color:#ff8f00;
}

.input-search-cst,
.glass-search {
  background-color: #e5e5e5;
}

form .glass-search {
  left: 4px;
}
/* end navbar */

main {
  padding-top: 70px;
}

main section.sidebar {
  width: 68px;
}
  
main section.sidebar .top-sidebar{
  background-color: var(--bg_dark-blue);
}

main section.sidebar .bottom-sidebar{
  background-color: var(--bg_blue);
}

main section.content {
  width: calc(100% - 68px);
  background-color: var(--bg_light-grey);
}

main section.content .top-bar {
  background-color: var(--bg_light-blue);
}


/* MEDIA QUERY */
@media screen (min-width: 768px) {
  main section.aside {
    width: 150px;
  }

  main section.content {
    width: calc(100% - 150px);
  }
  
  
  
}